<h2>Edit <%=@animal.name %>'s Details:</h2>

<form action="/animals/<%= @animal.id %>" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="<%= @animal.name %>"/>

  <label for="type">Type:</label>
  <input type="text" name="type" id="type" value="<%= @animal.type %>"/>

  <label for="age">Age:</label>
  <input type="number" name="age" id="age" value="<%= @animal.age %>"/>

  <label for="arrival_date">Arrival Date:</label>
  <input type="date" name="arrival_date" id="arrival_date" value="<%= @animal.arrival_date %>"/>

  <label for="adoption_status">Adoption Status:</label>
  <select name="adoption_status" id="adoption_status">
    <% for adoption_status in @adoption_status %>
    <option value="<%= adoption_status %>"
      <%= "selected" if adoption_status == @animal.adoption_status %>
      ><%= adoption_status %></option>
      <% end %>

  </select>

  <label for="photo">Photo</label>
  <input type="text" name="photo" id="photo" value="<%= @animal.photo %>" />

  </select>



  <input type="submit" value="Edit Animal">

</form>
