<p>All Animals:</p>

<% @animal.each do |animal| %>

<p>Name: <%= animal.name()%></p>
<p>Type: <%= animal.type()%></p>
<p>Age: <%= animal.age()%></p>
<p>Days in Care: <%=animal.days_in_care()%></p>


<p><a href="/animals/<%= animal.id %>">View animal details</a></p>

<% end %>
